body {
    background-color:lightgrey;
}
/* hack */
input {
    width:200px;
    max-width:90%;
}
@keyframes fadeIn {
    0% { opacity:0; }
    100% { opacity:1; }
}
.question {
    float:left;
    width:calc(50% - 3px);
    
    opacity:0;
    animation: fadeIn 1s 0s forwards;
    
}
.choices > span {
    display:block;
    float:left;
    background-color:#007bff;
    color:#ffffff;
    width:calc(var(--choiceWidth) - 20px);
    text-align:center;
    padding:10px;
    margin:10px;
    box-sizing:border-box;
    border-radius:10px;
    font-size:1.5rem;
    transition:background-color 0.2s;
}
.choices > span:hover {
    background-color:#4000ff;
}
@media (max-width:767px) {
    .question {
        width:100%;
    }
}
.guide, .question {
    /* border:2px solid #000000; */
    border-radius:20px;
    
    margin:0 2px 5px 0;
    padding:10px;
    
    background-color:white;
    box-sizing:border-box;
}
.guide, .text {
    font-size:1.5em;
}
.header {
    font-weight:bold;
    font-size:2em;
    line-height:1em;
    margin-top:0.5em;
    margin-bottom:-0.25em;
}